.chatInput {
    border-radius: 20px;
}

.chatInput > form {
    position: relative;
    display: flex;
    justify-content: center;
}
.chatInput > form > input {
    position: fixed;
    bottom: 30px;
    width: 60%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
}

.chatInput > form > button { 
    /* this is the trick in development to hide the submit button and submit by enter */
    display: none !important;
}